<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.apache.cordova.plugin.ipfetcher.IPFetcher"
        version="0.1.0">
    <name>IPFetcher</name>
    <description>AHAG Microserver IP Fetcher</description>
    <keywords>ahag</keywords>


    <!--<js-module src="www/calendar.js" name="Calendar">-->
    <!--<clobbers target="window.calendar"/>-->
    <!--</js-module>-->

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IPFetcher">
                <param name="android-package" value="org.apache.cordova.plugin.ipfetcher.IPFetcher"/>
                <param name="onload" value="true"/>
            </feature>

            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <source-file src="src/android/org/apache/cordova/plugin/ipfetcher/IPFetcher.java"
                     target-dir="src/org/apache/cordova/plugin/ipfetcher"/>
    </platform>
</plugin>